# Control de los datos

In [1]:
import pandas as pd
import numpy as np

## Carga de los datos

In [2]:
disney_df = pd.read_csv('datasets/disney_plus_titles.csv')
netflix_df = pd.read_csv('datasets/netflix_titles.csv', sep=';')

## Estructuras de los datos

In [3]:
netflix_df.shape, disney_df.shape

((8809, 12), (1450, 12))

In [4]:
np.all(netflix_df.columns == disney_df.columns)

True

Vemos que los datos tienen la misma cantidad de columnas y que estas son iguales en ambos dataframes. El dataset de Netflix tiene muchas más entradas que el de Disney+.

Ahora se describen brevemente cada una de las columnas:

- **show_id:** id único de cada entrada en el dataset.
- **type:** película o serie.
- **title:** título del show.
- **director:** director o directores del show.
- **cast:** actores principales del show.
- **country:** país donde se produjó el show.
- **date_added:** fecha en la que se agregó el show a la plataforma.
- **release_year:** año de estreno original del show.
- **rating:** clasifiación por edades del show.
- **duration:** duración en minutos de las películas y número de temporadas de las series.
- **listed_in:** géneros del show en la plataforma.
- **description:** sinopsis.

## Disney+

In [5]:
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

### `title`

In [6]:
disney_netflix = pd.concat([disney_df, netflix_df])

disney_netflix[disney_netflix['title'].duplicated(keep=False)]\
              .sort_values('title').head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
599,s600,Movie,A Wrinkle in Time,Ava DuVernay,"Oprah Winfrey, Reese Witherspoon, Mindy Kaling...",United States,"March 25, 2020",2018,PG,112 min,"Action-Adventure, Coming of Age, Family",Meg travels through time and space to find her...
6065,s6066,Movie,A Wrinkle in Time,Ava DuVernay,"Storm Reid, Oprah Winfrey, Reese Witherspoon, ...",United States,"September 25, 2018",2018,PG,110 min,Children & Family Movies,"Years after their father disappears, Meg and h..."
726,s727,Movie,Amy,Vincent McEveety,"Jenny Agutter, Barry Newman, Kathleen Nolan, C...",United States,"November 12, 2019",1981,G,100 min,"Drama, Family",A young woman takes a job as a teacher in a ba...
6149,s6150,Movie,Amy,Asif Kapadia,"Amy Winehouse, Lauren Gilbert",United Kingdom,"July 26, 2018",2015,R,128 min,"Documentaries, International Movies, Music & M...",Rare home videos and interviews with Amy Wineh...
2559,s2560,Movie,Becoming,Nadia Hallgren,Michelle Obama,United States,"May 6, 2020",2020,PG,89 min,Documentaries,Join former first lady Michelle Obama in an in...

Hay películas repetidas entre los datasets

### `country`

In [7]:
disney_df['country'].unique()[:10]

array([nan, 'United States', 'United States, Canada',
       'United States, Australia', 'Canada',
       'United States, United Kingdom', 'United States, South Korea',
       'Ireland, United States, Canada, United Kingdom, Denmark, Spain, Poland, Hungary',
       'France, United Kingdom', 'United Kingdom, Australia'],
      dtype=object)

In [8]:
disney_df[disney_df['country'].str.contains('India').fillna(False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
196,s197,TV Show,Puppy Dog Pals,NaN,"Harland Williams, Isaac Brown, Jessica DiCicco...","United States, India","June 11, 2021",2016,TV-G,4 Seasons,"Animation, Kids",Two puppies are on a mission for fun and adven...
429,s430,Movie,India's Wild Leopards,NaN,"Sandesh Kadur, Priya Singh",India,"August 14, 2020",2020,TV-14,45 min,"Animals & Nature, Documentary",Cameraman Sandesh Kadur’s mission is to uncove...
1096,s1097,Movie,Mulan II,"Darrell Rooney, Lynne Southerland","Ming-Na Wen, B.D. Wong, Mark Moseley, Lucy Liu...","United States, South Korea, Singapore, Russia,...","November 12, 2019",2005,G,82 min,"Action-Adventure, Animation, Family",Mulan must complete a dangerous mission before...
1182,s1183,Movie,Secret of The Wings,Peggy Holmes,"Mae Whitman, Lucy Hale, Timothy Dalton, Jeff B...","United States, India, United Kingdom","November 12, 2019",2012,G,79 min,"Animation, Fantasy, Kids",Tink crosses into the forbidden Winter Woods a...
1186,s1187,Movie,Secrets of the King Cobra,NaN,Andre Braugher,India,"November 12, 2019",2012,TV-PG,47 min,"Animals & Nature, Documentary",A new scientific expedition follows the king c...

### `date_added`

In [9]:
disney_df['date_added'].unique()[:10]

array(['November 26, 2021', 'November 25, 2021', 'November 24, 2021',
       'November 19, 2021', 'November 17, 2021', 'November 12, 2021',
       'November 5, 2021', 'November 3, 2021', 'October 29, 2021',
       'October 22, 2021'], dtype=object)

### `release year`

No hay valores atípicos en los años

In [10]:
disney_df['release_year'].min(), disney_df['release_year'].max()

(1928, 2021)

In [11]:
disney_df[disney_df['release_year'] <= 1930]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1220,s1221,Movie,Steamboat Willie,"Walt Disney, Ub Iwerks",Walt Disney,United States,"November 12, 2019",1928,TV-Y7,8 min,"Animation, Family, Kids",Watch Mickey Mouse's classic cartoon debut. Se...

Separamos en película y serie para buscar valores errados respecto a la variables `rating` y `duration`

In [12]:
disney_movies = disney_df[disney_df['type'] == 'Movie'].copy()
disney_shows  = disney_df[~(disney_df['type'] == 'Movie')].copy()

### `rating`

In [13]:
disney_df['rating'].unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV'], dtype=object)

### `duration`

In [14]:
np.any(disney_movies['duration'].str.contains('season', case=False))

False

In [15]:
np.any(disney_shows['duration'].str.contains('min', case=False))

False

La variable `duration` parece estar correctamente cargada en ambos datasets.

In [16]:
disney_movies['duration_numeric'] = \
    disney_movies['duration'].str[:-4].astype('int')

In [17]:
disney_movies.sort_values('duration_numeric')[
        ['title', 'description', 'duration']
        ].head(25)

,title,description,duration
37,The Proud Family: Louder and Prouder,"""The Proud Family: Louder and Prouder"" follows...",1 min
27,Obi-Wan Kenobi,"A behind the scenes look of the ""Obi-Wan Kenob...",1 min
15,Baymax!,“Baymax!” premieres on Disney+ summer 2022.,1 min
1449,Captain Sparky vs. The Flying Saucers,View one of Sparky's favorite home movies.,2 min
1027,Luxo Jr.,A baby lamp finds a ball to play with.,2 min
1240,The Adventures of André & Wally B.,Andre awakens from a nap and is greeted by a p...,2 min
655,Cars Toons: Bugged,Red's peaceful morning routine is interrupted ...,2 min
651,Cars Toon: Spinning,Guido discovers his talent as a sign spinner.,2 min
25,Limitless with Chris Hemsworth,"""Limitless with Chris Hemsworth"" is coming to ...",2 min
705,"Happy Birthday, Mickey!","Celebrating Mickey, the world’s most beloved c...",2 min
14,America the Beautiful,"Epic, grand portrait of the land across four r...",2 min
650,Cars Toon: Rescue Squad Mater,Mater is a fire truck that rescues McQueen fro...,3 min
353,From Our Family to Yours,A granddaughter brings joy on Christmas by men...,3 min
781,Cars Toon: Hiccups,Lighting McQueen gets the hiccups.,3 min
41,Willow,Meet the cast of the all-new Disney+ fantasy-a...,3 min
1158,Red's Dream,"Red, a unicycle, dreams that he steals the show.",4 min
910,George & A.J.,Two nurses try to escort seniors to the nursin...,4 min
649,Cars Toon: Moon Mater,Mater’s mission on the moon: rescue the Impala...,4 min
648,Cars Toon: El Materdor,Mater is a famous bulldozer fighter in Spain.,4 min
670,Super Rhino,Rhino gets an upgrade just in time to save Bol...,4 min
11,Puppy for Hanukkah,"Check out Daveed Digg's official music video ""...",4 min
994,Knick Knack Theatrical Short,A snowman longs to break out of his snow globe.,4 min
230,"Maggie Simpson in ""The Force Awakens from its ...","In a daycare far, far away… but still in Sprin...",4 min
896,For the Birds,Small birds mock a big bird who tries to sit w...,4 min
654,Cars Toon: Unidentified Flying Mater,Mater and Lightning McQueen rescue a UFO named...,4 min

In [18]:
disney_movies.sort_values('duration_numeric')[
        ['title', 'description', 'duration']
        ].tail(25)

,title,description,duration
1064,Mary Poppins,A magical nanny reconnects a father and mother...,142 min
530,Star Wars: The Rise of Skywalker (Episode IX),The landmark Skywalker saga comes to a conclus...,142 min
1212,Star Wars: Attack of the Clones (Episode II),Young Anakin and Padmé fall in love as galacti...,143 min
1038,Marvel Studios' Avengers: Age of Ultron,Tony Stark unwittingly creates an A.I. monster...,143 min
397,Mr. Holland's Opus,A musician finds his passion when he takes a “...,143 min
1133,Pirates of the Caribbean: The Curse of the Bla...,Jack Sparrow and Will Turner partner to save t...,144 min
473,X-Men: Apocalypse,"Apocalypse, the most powerful mutant in the un...",144 min
1050,Marvel Studios' The Avengers,Nick Fury recruits a team of heroes to battle ...,145 min
1268,"The Chronicles of Narnia: The Lion, the Witch ...",Four siblings enter a magical land and help it...,147 min
523,"Hello, Dolly!",Matchmaker Dolly Levi orchestrates the love li...,147 min
239,Oklahoma!,Two young cowboys vie with a ranch hand and pe...,148 min
1040,Marvel Studios' Captain America: Civil War,"Captain America and Iron Man clash, causing th...",150 min
878,Empire of Dreams: The Story of the Star Wars T...,"Explore the creation of Star Wars, a saga few ...",151 min
491,Marvel Studios' Avengers: Infinity War,The Avengers must be willing to sacrifice all ...,152 min
675,Star Wars: The Last Jedi (Episode VIII),New heroes and galactic legends join to unlock...,152 min
1132,Pirates of the Caribbean: Dead Man's Chest,"Captain Jack Sparrow must seize the ""Dead Man'...",152 min
1267,The Chronicles of Narnia: Prince Caspian,The Pevensie siblings return to lead the Narni...,154 min
481,Hamilton,The filmed version of Broadway original “Hamil...,160 min
735,Avatar,A man embarks on an adventure to an exotic wor...,162 min
1131,Pirates of the Caribbean: At World's End,An alliance forms to rescue Captain Jack Sparr...,169 min
198,The Happiest Millionaire,An immigrant finds a butler position in the ho...,170 min
1339,The Sound of Music,A governess wins the hearts of many and leads ...,175 min
330,Arendelle Castle Yule Log,Set the wintry mood for your holiday celebrati...,180 min
333,Dory's Reef Cam,Dive into the waters below and watch the aquat...,182 min
1039,Marvel Studios' Avengers: Endgame,"The epic finale to the Infinity Saga, this dra...",183 min

### `description`

In [19]:
disney_df['description_len'] = \
    disney_df['description'].apply(lambda x: len(x))

In [20]:
disney_df.sort_values('description_len').head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,description_len
586,s587,Movie,Pluto's Party,Milt Schaffer,"Jimmy MacDonald, Pinto Colvig",United States,"April 3, 2020",1952,TV-G,8 min,"Animation, Family",It's Pluto's birthday party!,28

In [21]:
disney_df.sort_values('description_len').tail(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,description_len
26,s27,Movie,Marvel Studios’ 2021 Disney+ Day Special,NaN,NaN,NaN,"November 12, 2021",2021,TV-PG,14 min,Movies,Marvel Studios’ Disney+ Day Special explores t...,102

## Netflix

In [22]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8808 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7983 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   object
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8806 non-null   object
 11  description   8806 non-null   object
dtypes: object(12)
memory usage: 826.0+ KB

### `type`

In [23]:
netflix_df['type'].unique()

array(['Movie', 'TV Show', nan, 'William Wyler'], dtype=object)

Vemos en detalle el único valor que es `null` en la columna `type`

In [24]:
netflix_df[netflix_df['type'].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8202,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
netflix_df.loc[8201:8202, :]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8201,s8202,Movie,The Bad Education Movie,Elliot Hegarty,"Jack Whitehall, Joanna Scanlan, Iain Glen, Eth...",United Kingdom,"December 15, 2018",2015,TV-MA,87 min,Comedies,Britain's most ineffective but caring teacher ...
8202,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
netflix_df.loc[8201, :]['description'] + \
    netflix_df.loc[8202, :]['show_id']

'Britain\'s most ineffective but caring teacher takes his class to Cornwall for one last school trip, where anything could happen – and probably will."'

In [27]:
netflix_df.loc[8201, :]['description'] + \
    netflix_df.loc[8202, :]['show_id'][:-1]

"Britain's most ineffective but caring teacher takes his class to Cornwall for one last school trip, where anything could happen – and probably will."

In [28]:
netflix_df.loc[8201, :]['description'] += \
    netflix_df.loc[8202, :]['show_id'][:-1]

In [29]:
netflix_df.loc[8201, :]['description']

"Britain's most ineffective but caring teacher takes his class to Cornwall for one last school trip, where anything could happen – and probably will."

In [30]:
netflix_df.drop(index=8202, inplace=True)

### `title`

In [31]:
netflix_df[netflix_df['title'].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [32]:
netflix_df.loc[[8420, 8421], :]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8420,s8420,Movie,The Memphis Belle: A Story of a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

https://en.wikipedia.org/wiki/Memphis_Belle:_A_Story_of_a_Flying_Fortress

In [33]:
datos = [('director', 'type'), ('country', 'director'),
         ('date_added', 'cast'), ('release_year', 'country'),
         ('rating', 'date_added'), ('duration', 'release_year'),
         ('listed_in', 'rating'), ('description', 'duration')]

for (c1, c2) in datos:
    netflix_df.loc[8420, :][c1] = \
        netflix_df.loc[8421, :][c2]

In [34]:
netflix_df.drop(index=8421, inplace=True)

In [35]:
len(netflix_df[netflix_df['title'].duplicated()])

0

### `country`

In [36]:
netflix_df['country'].unique()[:10]

array(['United States', 'South Africa', nan, 'India',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'United Kingdom', 'Germany, Czech Republic', 'Mexico', 'Turkey',
       'Australia'], dtype=object)

### `date_added`

In [37]:
netflix_df['date_added'].unique()[:10]

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       'September 22, 2021', 'September 21, 2021', 'September 20, 2021',
       'September 19, 2021', 'September 17, 2021', 'September 16, 2021',
       'September 15, 2021'], dtype=object)

### `release_year`

In [38]:
netflix_df['release_year'] = \
    netflix_df['release_year'].astype('int')

In [39]:
netflix_df['release_year'].min(), netflix_df['release_year'].max()

(1925, 2021)

In [40]:
netflix_df[netflix_df['release_year'] <= 1930]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

### `rating`

In [41]:
netflix_df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [42]:
netflix_df[netflix_df['rating'].str.contains('min').fillna(False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

### `duration`

In [43]:
netflix_movies = netflix_df[netflix_df['type'] == 'Movie'].copy()
netflix_shows = netflix_df[~(netflix_df['type'] == 'Movie')].copy()

In [44]:
np.any(netflix_movies['duration'].str.contains('season', case=False))

False

In [45]:
np.any(netflix_shows['duration'].str.contains('min', case=False))

False

In [46]:
netflix_movies[netflix_movies['duration'].isna()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [47]:
na_duration_idx = \
    netflix_movies[netflix_movies['duration'].isna()].index

In [48]:
netflix_df.loc[na_duration_idx, 'duration'] = \
    netflix_df.loc[na_duration_idx, 'rating']

netflix_df.loc[na_duration_idx, 'rating'] = np.nan

In [49]:
netflix_movies.loc[na_duration_idx, 'duration'] = \
    netflix_movies.loc[na_duration_idx, 'rating']

netflix_movies['duration_numeric'] = \
    netflix_movies['duration'].str[:-4].astype('int')

In [50]:
netflix_movies.sort_values('duration_numeric')[
        ['title', 'description', 'duration']
        ].head()

,title,description,duration
3777,Silent,"""Silent"" is an animated short film created by ...",3 min
2713,Sol Levante,A young warrior and her familiar search for th...,5 min
1484,Cops and Robbers,Animation and activism unite in this multimedi...,8 min
1557,Canvas,"After a heartbreaking loss, a grandfather stru...",9 min
3535,American Factory: A Conversation with the Obamas,Barack and Michelle Obama talk with directors ...,10 min

In [51]:
netflix_movies.sort_values('duration_numeric')[
        ['title', 'description', 'duration']
        ].tail()

,title,description,duration
2484,Lock Your Girls In,A widower believes he must marry off his three...,233 min
2487,No Longer kids,Hoping to prevent their father from skipping t...,237 min
2491,The School of Mischief,A high school teacher volunteers to transform ...,253 min
717,Headspace: Unwind Your Mind,"Do you want to relax, meditate or sleep deeply...",273 min
4253,Black Mirror: Bandersnatch,"In 1984, a young programmer begins to question...",312 min

### `description`

In [52]:
netflix_df['description_len'] = \
    netflix_df['description'].apply(lambda x: len(x))

In [53]:
netflix_df.sort_values('description_len').head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,description_len
6167,s6168,TV Show,Anjaan: Special Crimes Unit,NaN,"Gashmeer Mahajani, Heena Parmar",India,"May 1, 2018",2018,TV-14,1 Season,"International TV Shows, TV Horror, TV Mysteries",The cases are supernatural,26
2641,s2642,TV Show,DreamWorks Spooky Stories: Volume 2,NaN,"Seth Rogen, Will Arnett, Hugh Laurie, Will Fer...",NaN,"April 24, 2020",2011,TV-PG,1 Season,"Kids' TV, TV Comedies","The Shrek characters parody the music video ""T...",54
3716,s3717,TV Show,Forest of Piano,NaN,"Soma Saito, Junichi Suwabe, Natsuki Hanae, Yui...",Japan,"June 24, 2019",2019,TV-14,2 Seasons,"Anime Series, International TV Shows",Kai grows up playing an old piano discarded in...,56
7136,s7137,Movie,John Carter,Andrew Stanton,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...",United States,"May 2, 2019",2012,PG-13,133 min,"Action & Adventure, Sci-Fi & Fantasy","One minute, Civil War veteran John Carter is e...",60
3007,s3008,Movie,WHAT DID JACK DO?,David Lynch,David Lynch,United States,"January 20, 2020",2020,TV-14,17 min,"Dramas, Independent Movies",A detective interrogates a monkey who is suspe...,61

In [54]:
netflix_df.sort_values('description_len').tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,description_len
6221,s6222,Movie,Balto 2: Wolf Quest,Phil Weinstein,"Maurice LaMarche, Jodi Benson, Lacey Chabert, ...",United States,"April 1, 2018",2001,G,75 min,Children & Family Movies,"Half-dog, half-wolf Balto (voiced by Maurice L...",245
8156,s8157,Movie,Teen Patti,Leena Yadav,"Amitabh Bachchan, Madhavan, Ben Kingsley, Shra...",India,"March 1, 2018",2010,TV-PG,137 min,"Dramas, International Movies, Thrillers",Luck brings together math expert Perci Trachte...,246
7678,s7679,Movie,Opium and the Kung Fu Master,Chia Tang,"Lung Ti, Te-Lo Mai, Leanne Liu, Kuan Tai Chen,...",Hong Kong,"August 16, 2018",1984,TV-MA,86 min,"Action & Adventure, International Movies","Leader of the Ten Kwangtung Tigers, Tieh Chiao...",246
4948,s4949,Movie,Billu,Priyadarshan,"Irrfan Khan, Shah Rukh Khan, Lara Dutta, Rajpa...",India,"April 1, 2018",2009,TV-PG,132 min,"Dramas, International Movies",An Indian village is abuzz with news that a ma...,248
4797,s4798,Movie,Namastey London,Vipul Amrutlal Shah,"Akshay Kumar, Katrina Kaif, Rishi Kapoor, Upen...",India,"July 1, 2018",2007,TV-14,130 min,"Comedies, Dramas, International Movies","To her Indian parents' dismay, London-born Jas...",248

# Conclusiones

- Hay videos musicales, detrás de escenas y cortometrajes clasificados como películas.
- Sería bueno tener más valores en `type_id`.
- Las columnas `country`, `cast`, `director` y `listed_in` no están normalizadas.
- Vamos a tratar la columna `listed_in` como el género del show, aunque en realidad se trata de la categoría en la que dicho show se encuentra en su respectiva plataforma, por lo tanto van a existir pequeñas diferencias como `TV Horror` y `Horror` que en realidad serían lo mismo a nivel de género.
- Lo del item anterior se podría solucionar si se hubieran sacado los géneros de los shows de una misma base de datos como podría ser *IMDB*.

# Normalización de datos

## platform

In [55]:
disney_df['platform_id'] = 1

In [56]:
netflix_df['platform_id'] = 2

In [57]:
plataformas = [{'platform_id': 1,
                'platform': 'Disney Plus'},
               {'platform_id': 2,
                'platform': 'Netflix'}]

platform_table = pd.DataFrame(plataformas,
                             columns=['platform_id', 'platform'])

## content

In [58]:
concat_df = pd.concat([disney_df, netflix_df]).copy()
concat_df.reset_index(drop=True, inplace=True)
concat_df.index = concat_df.index + 1

concat_df.drop(labels=['show_id', 'description_len'],
               axis=1,
               inplace=True)

In [59]:
na_val = 'Unknown'
listed_columns = ['director', 'cast', 'country', 'listed_in']

concat_df.fillna(na_val, inplace=True)
concat_df['content_id'] = concat_df.index

In [60]:
for column in listed_columns:
    concat_df[column] = concat_df[column].str.split(', ')

## Actor

In [61]:
actors = concat_df.explode('cast')['cast'].unique().copy()

actor_table = pd.DataFrame({'actor_name': actors, 
                            'actor_id': np.nan})

actor_table.index = actor_table.index + 1
actor_table['actor_id'] = actor_table.index

In [62]:
actor_table.loc[actor_table['actor_name'].isna(), 'actor_name'] = na_val

In [63]:
content_actor = pd.merge(left=concat_df.explode('cast'),
                         right=actor_table,
                         left_on='cast',
                         right_on='actor_name')[['content_id', 'actor_id']]

## Director

In [64]:
directors = concat_df.explode('director')['director'].unique().copy()

director_table = pd.DataFrame({'director_name': directors,
                               'director_id': np.nan})

director_table.index = director_table.index + 1
director_table['director_id'] = director_table.index

In [65]:
content_director = pd.merge(left=concat_df.explode('director'),
                            right=director_table,
                            left_on='director',
                            right_on='director_name')[['content_id', 'director_id']]

## Country

In [66]:
countries = concat_df.explode('country')['country'].unique().copy()

country_table = pd.DataFrame({'country_name': countries,
                              'country_id': np.nan})

country_table.index = country_table.index + 1
country_table['country_id'] = country_table.index

country_table.loc[country_table['country_name'].isna(), 'country_name'] = na_val

In [67]:
content_country = pd.merge(left=concat_df.explode('country'),
                           right=country_table,
                           left_on='country',
                           right_on='country_name')[['content_id', 'country_id']]

## Listed_in

In [68]:
genres = concat_df.explode('listed_in')['listed_in'].unique().copy()

genres_table = pd.DataFrame({'genre':     genres,
                             'genre_id': np.nan})

genres_table.index = genres_table.index + 1
genres_table['genre_id'] = genres_table.index

genres_table.loc[genres_table['genre'].isna(), 'genre'] = na_val

In [69]:
content_genre = pd.merge(left=concat_df.explode('listed_in'), right=genres_table,
                           left_on='listed_in', right_on='genre')[['content_id', 'genre_id']]

## type

In [70]:
type_table = pd.DataFrame({
                'type': concat_df['type'].unique()})

type_table['type_id'] = type_table.index + 1

## rating

In [71]:
rating = pd.DataFrame({
            'rating': concat_df['rating'].unique()})
rating['rating_id'] = rating.index + 1

## fechas

In [72]:
unknown_date = 'January 1, 2000'

concat_df['date_added'] = concat_df['date_added'].str.strip()
concat_df.loc[concat_df['date_added'] == na_val, 'date_added'] = unknown_date

In [73]:
dates = concat_df['date_added'].str.strip()
concat_df['date_added'] = pd.to_datetime(dates, format='%B %d, %Y')

## Content table

In [74]:
concat_df['type_id'] = \
    concat_df['type'].apply(lambda x: 1 if x == 'Movie' else 2)

In [75]:
content_table = concat_df.drop(labels=['type', 'director', 'cast',
                                       'country', 'listed_in', 'rating'], axis=1)

In [76]:
content_table['rating_id'] = \
    pd.merge(left=concat_df, right=rating,
             left_on='rating', right_on='rating')['rating_id']

In [77]:
content_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10257 entries, 1 to 10257
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         10257 non-null  object
 1   date_added    10257 non-null  datetime64[ns]
 2   release_year  10257 non-null  int64
 3   duration      10257 non-null  object
 4   description   10257 non-null  object
 5   platform_id   10257 non-null  int64
 6   content_id    10257 non-null  int64
 7   type_id       10257 non-null  int64
 8   rating_id     10256 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 721.3+ KB

In [78]:
content_table[content_table['type_id'].isna()]

Empty DataFrame
Columns: [title, date_added, release_year, duration, description, platform_id, content_id, type_id, rating_id]
Index: []

In [79]:
concat_df.loc[10257, :]

type                                                        Movie
title                                                      Zubaan
director                                            [Mozez Singh]
cast            [Vicky Kaushal, Sarah-Jane Dias, Raaghav Chana...
country                                                   [India]
date_added                                    2019-03-02 00:00:00
release_year                                                 2015
rating                                                      TV-14
duration                                                  111 min
listed_in        [Dramas, International Movies, Music & Musicals]
description     A scrappy but poor boy worms his way into a ty...
platform_id                                                     2
content_id                                                  10257
type_id                                                         1
Name: 10257, dtype: object

In [80]:
rating.loc[5, :], type_table.loc[0, :]

(rating       TV-14
 rating_id        6
 Name: 5, dtype: object,
 type       Movie
 type_id        1
 Name: 0, dtype: object)

In [81]:
content_table.loc[10257, 'rating_id'] = 6
content_table.loc[10257, 'type_id']   = 1

In [82]:
tablas = [rating, type_table, platform_table,
          content_table, director_table, actor_table,
          country_table, genres_table]

columnas = ['rating_id', 'type_id', 'platform_id',
            'content_id', 'director_id', 'actor_id',
            'country_id', 'genre_id']

for tabla, col in zip(tablas, columnas):
    tabla.drop(col, axis=1, inplace=True)

# Carga

In [83]:
from sqlalchemy import create_engine

In [87]:
USER     = 'postgres'
PASS     = 'postgres'
PORT     = '5432'
DATABASE = 'challenge'

engine = create_engine(f'postgresql://{USER}:{PASS}@localhost:{PORT}/{DATABASE}')

In [87]:
tablas = [rating, type_table, platform_table,
          content_table, director_table, content_director,
          actor_table, content_actor, country_table,
          content_country, genres_table, content_genre]

nombres_tablas = ['rating', 'type', 'platform', 'content',
                  'director', 'content_director', 'actor',
                  'content_actor', 'country', 'content_country',
                  'genre', 'content_genre']


for tabla, nombre in zip(tablas, nombres_tablas):
    tabla.drop_duplicates()\
         .to_sql(nombre,
                 engine,
                 if_exists='append',
                 index=False)